* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: lightblue;
	width: 100%;
	overflow-x: hidden;
}

.main-container {
    min-height: calc(100vh - 136px);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "image-box"
						 "text-box";
	row-gap: 50px;
	column-gap: 50px;
}

@media screen and (max-width: 992px) {
  body {
    background-color: white;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: olive;

  }
}

.image-box {

}

.image-box img {

}

.text-box {

}

.card {

}

.card p {

}

.card input {

}

.warning {

}

footer {

}
