* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: #738bdc;
    background-image: linear-gradient(315deg, #738bdc 0%, #48c3eb 74%);
	width: 100%;
	overflow-x: hidden;
}

.main-container {
	min-height: calc(100vh - 136px);
}

table {
	width: 100%;
	text-align: center;
}

tr {
	border: 1px solid white;
}

th, td {
	padding: 10px;
}

footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
}