<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>Sign Up - Marshmallow Quiz</title>
</head>

<body>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

<div class="main-container container py-5 px-4 gradient">

    <div class="container-fluid text-center">
        <div>
            <img class="img-fluid" th:src="@{/images/mar.png}" />
            <h1>User Registration</h1>

        </div>
    <form class="card bg-light py-5 px-4" th:action="@{/process_register}" th:object="${user}"
          method="post" style="max-width: 350px; margin: 0 auto;">

        <div class="border border-info p-3 rounded">
            <p>New here? Sign up!</p>
            <p>
                <input type="username" name="username" class="form-control" placeholder="Username" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required minlength="6" maxlength="10"/>
            </p>
            <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required/>
            </p>
        </div>

            <div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </form>
</div>
</div>
</body>
</html>